{{ form_errors(form) }}

<form method="post" {{ form_enctype(form) }} role="form">
    <div class="form-group">
        <div style="margin-bottom: 25px" class="input-group">

            <label for="TranslationInput">{{ form_label(form.translation) }}</label>

            <div class="input-group">
                {{ form_widget(form.translation, {'attr': {'class': 'form-control'} } ) }}
            </div>
            <br />
            <input type="submit" value="Save" class="btn btn-success" name="submit">

        </div>
    </div>
</form>
