<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Key</th>
            <th>Message[locale]</th>
        </tr>
        </thead>
        <tbody>
        {% for domain, domainMess in messages %}
            {% for message, messageKey in domainMess %}
                <tr>
                    <td>{{ domain }}</td>
                    <td>{{ messageKey }}</td>
                    <td>
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{ message }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
