<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Key</th>
            <th>Messages</th>
        </tr>
        </thead>
        <tbody>
        {% for domain, messagesArray in messages %}
            {% for transId, translations in messagesArray %}
                <tr>
                    <td>{{ domain }}</td>
                    <td>{{ transId }}</td>
                    {% for message in translations %}
                        <td>
                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                            {{ message }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

</div>
