<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Key</th>
            <th>Loacle</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>messages</td>
                <td>trans.id</td>
                <td>locale</td>
            </tr>
        </tbody>
    </table>
</div>
