<h1>Manage translations of your app!</h1>

<div class="container">
    {% include 'SleepnessUberTranslationBundle:Translation:filters.html.twig' %}
</div>

<br />

<div class="container">
    {% include 'SleepnessUberTranslationBundle:Translation:table.html.twig' %}
</div>
