<div class="panel panel-default">
    <div class="panel-heading">Translation credentials</div>
    <table class="table table-striped table-bordered detail-view">
        <tbody>
            <tr>
                <th>Key:</th>
                <td>"{{ key }}"</td>
            </tr>
            <tr>
                <th>Locale:</th>
                <td>"{{ locale }}"</td>
            </tr>
            <tr>
                <th>Domain:</th>
                <td>"{{ domain }}"</td>
            </tr>
            <tr>
                <th>Defined translation:</th>
                <td>"{{ message }}"</td>
            </tr>
        </tbody>
    </table>
</div>
