{% trans_default_domain 'SleepnessUberTranslationBundle' %}

<h1>{{ 'main_text'|trans }}</h1>

{% for message_deleted in app.session.flashbag.get('translation_deleted') %}
    <div class="alert alert-success">
        <strong>
            {{ message_deleted|trans }}
        </strong>
    </div>
{% endfor %}

{% for message_edited in app.session.flashbag.get('translation_edited') %}
    <div class="alert alert-success">
        <strong>
            {{ message_edited|trans }}
        </strong>
    </div>
{% endfor %}

<div class="container">
    {% include 'SleepnessUberTranslationBundle:Translation:filters.html.twig' %}
</div>

<br/>

<div class="container">
    {% include 'SleepnessUberTranslationBundle:Translation:table.html.twig' %}
</div>
